*{
    font-family:'segoe ui',Arial, sans-serif
}
body{
    margin: 0;
}
.login-container {
    display: flex;
    min-height: 100vh;
    text-align:left
}

.left{
    width: 60%;
    background-color: #0d47a1;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right{
    width: 40%;
    background-color: #ffffff;
    padding:60px 50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
} 
#first{
    font-size:25px;
}  
#sec{
    font-size:20px;
}
button {
    width: 170px;
    height: 50px;
    font-size: 16px;
    background-color: #e3f2fd;
    color: #1e3a8a;
    font-weight:700;
    border: none;
    border-radius: 8px;
}
.right input{
    padding: 14px 16px;
    margin:10px 0;
    border: 1px solid #e0e0e0;
    border-radius:10px;
    background: #f8f9ff;
}
.login-bt{
    background: #0d47a1;
    color:#ffffff;
    padding:14px;
    width:100%;
    border-radius: 10px;

}
